.homepage {
    background-color: #fff199;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.homepage .div {
    background-color: #fff199;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
}

.homepage .overlap {
    position: absolute;
    width: 1276px;
    height: 615px;
    top: 152px;
    left: 94px;
}

.homepage .overlap-group {
    position: absolute;
    width: 1276px;
    height: 615px;
    top: 0;
    left: 0;
}

.homepage .text-wrapper {
    position: absolute;
    width: 443px;
    top: 0px;
    left: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
    text-align: left;
}

.homepage .group {
    position: absolute;
    width: 503px;
    height: 66px;
    top: 7px;
    left: 0;
}

.homepage .overlap-2 {
    position: absolute;
    width: 985px;
    height: 615px;
    top: 0;
    left: 291px;
}

.homepage .rectangle {
    top: 447px;
    position: absolute;
    width: 250px;
    height: 60px;
    left: 0;
    background-color: #b17179;
    border-radius: 15px;
}

.homepage .text-wrapper-2 {
    position: absolute;
    width: 250px;
    height: 68px;
    top: 446px;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.homepage .homepage-image {
    position: relative;
    width: 736px;
    height: 615px;
    top: 0;
    left: 350px;
    object-fit: cover;
    background-image: url(homepage-image.png);
    background-repeat: no-repeat;
    border: none;
}

.homepage .overlap-3 {
    position: relative;
    width: 250px;
    height: 69px;
    top: 1000px;
    left: 4px;
}

.homepage .rectangle-2 {
    top: 1px;
    position: absolute;
    width: 250px;
    height: 60px;
    left: 0;
    background-color: #b17179;
    border-radius: 15px;
}

.homepage .text-wrapper-3 {
    position: absolute;
    width: 250px;
    height: 68px;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.homepage .navbar {
    position: absolute;
    width: 1421px;
    height: 69px;
    top: 30px;
    left: -29px;
}

.homepage .storage-version {
    position: absolute;
    width: 589px;
    height: 24px;
    top: 12px;
    left: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
}

.homepage .text-wrapper-4 {
    position: absolute;
    width: 264px;
    height: 41px;
    top: 0;
    left: 617px;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.homepage .text-wrapper-5 {
    position: absolute;
    height: 24px;
    top: 9px;
    left: 1210px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.homepage .overlap-group-wrapper {
    position: absolute;
    width: 133px;
    height: 41px;
    top: 1px;
    left: 1284px;
}

.homepage .div-wrapper {
    position: relative;
    width: 131px;
    height: 41px;
    background-color: #b17179;
    border-radius: 7px;
}

.homepage .text-wrapper-6 {
    position: absolute;
    height: 24px;
    top: 8px;
    left: 29px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.homepage .line {
    position: absolute;
    width: 1300px;
    height: 2px;
    top: 67px;
    left: 99px;
}

.homepage-image {
    background-image: url(homepage-image.png);
}

.line {
    background-image: url(line1.svg);
}

/* Style for the login button */
/* Style for the login button */
.login-button {
    background-color: #b17179;
    color: #ffffff;
    width: 250px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: inline-block; /* Display the button inline */
    margin-right: 10px; /* Adjust the margin as needed to separate the buttons */
    
}

/* Style for the signup button */
.signup-button {
    background-color: #b17179;
    color: #fff;
    width: 250px;
    height: 60px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
    display: inline-block; /* Display the button inline */
}


.alert-box {
    position: relative;
    width: 350px;
    height: 45px;
    top: 100px;
    left: 130px;
    border-radius: 44px;
    border: 2px solid #ffb37b;
    text-align: center;
    line-height: 15px;
}

.nav-signup {
    background-color: #b17179;
    color: #fff;
    width: 125px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}

.nav-login {
    background-color: transparent;
    color: #000000;
    width: 125px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    cursor: pointer;
}
