.signup {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    left: 0;
}

.signup .div {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.signup .overlap {
    background-color: #fff199;
    height: 1024px;
    left: 0;
    position: absolute;
    top: 0;
    width: 850px;
}

.signup .text-wrapper {
    color: #000000;
    font-family: "Lobster", sans-serif;
    font-size: 40px;
    font-weight: 400;
    height: 41px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 41px;
    white-space: nowrap;
    width: 264px;
}

.signup .humaaans-space {
    height: 601px;
    left: 145px;
    object-fit: cover;
    position: absolute;
    top: 207px;
    width: 559px;
}

.signup .text-wrapper-2 {
    color: #000000;
    font-family: "Inter-Bold", Helvetica;
    font-size: 45px;
    font-weight: 700;
    left: 960px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 252px;
    white-space: nowrap;
}

.signup .group {
    height: 249px;
    left: 944px;
    position: absolute;
    top: 387px;
    width: 404px;
}

.signup .group-2 {
    height: 39px;
    left: 1px;
    position: absolute;
    top: 70px;
    width: 405px;
}

.signup .text-wrapper-3 {
    color: #656565;
    font-family: "Inter-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.signup .line {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 38px;
    width: 403px;
}

.signup .group-3 {
    height: 39px;
    left: 1px;
    position: absolute;
    top: 0;
    width: 405px;
}

.signup .group-4 {
    height: 39px;
    left: 0;
    position: absolute;
    top: 140px;
    width: 405px;
}

.signup .vector {
    height: 24px;
    left: 363px;
    position: absolute;
    top: 5px;
    width: 36px;
}

.signup .group-5 {
    height: 39px;
    left: 1px;
    position: absolute;
    top: 210px;
    width: 405px;
}

.signup .overlap-group-wrapper {
    height: 51px;
    left: 947px;
    position: absolute;
    top: 694px;
    width: 401px;
}

.signup .overlap-group {
    background-color: #b17179;
    border-radius: 15px;
    height: 51px;
    position: relative;
    width: 399px;
}

.signup .text-wrapper-4 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    height: 48px;
    left: 1px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 398px;
}
