.card{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-back.png');
    margin: 30px;
}

.card-image-1-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-1.png');
    margin: 30px;
}

.card-image-2-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-2.png');
    margin: 30px;
}

.card-image-3-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-3.png');
    margin: 30px;
}

.card-image-4-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-4.png');
    margin: 30px;
}

.card-image-5-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-5.png');
    margin: 30px;
}

.card-image-6-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-6.png');
    margin: 30px;
}

.card-image-7-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-7.png');
    margin: 30px;
}

.card-image-8-flipped{
    width: 100px;
    height: 150px;
    background-image: url('../card-images/card-image-8.png');
    margin: 30px;
}

.card-inner{
    width: 100%;
    height: 100%;
}

  .card-front {
    transform: rotateY(0deg);
  }
  
  .card-back {
    transform: rotateY(180deg);
    transform-origin: right; 
  }
  