/* Navbar.css */
.nav {
    width: 80%;
    height: 100%;
    background-color:#5CD2E6;
    margin-top: 0;
    margin-right: 10px;
    padding: 10px;
  }
  
.nav ul {
    list-style: none;
    display: block;
    align-items: left;
    margin: 0;
    height: 100%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 35px;
  }
  
.nav li {
    margin: 0;
    padding: 30px;
  }
  
.nav a {
    text-decoration: none;
    color: white;
  }
  
.nav a:hover {
    text-decoration: underline;
  }


  
  